*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.navBar ul{
    overflow: hidden;
    background-color: white;
    list-style: none;
    padding: 0 100px;
}
.navBar li{
    float: right;
    padding: 10px 15px;
}
.navBar a{
    color: black;
    text-decoration: none;
}
.navBar .logo{
    float: left;
    padding: 0;
}
.navBar .logo img{
    height: 50px;
}

@media screen and (max-width: 600px){
    .navBar ul{
        padding: 0;
    }
    .navBar li:not(:last-child){display: none;}
    .navBar li:last-child{
        float: left;
    }
    .navBar li.iconLi{
        display: block;
        float: right;
    }
    .navBar.responsive li.logo{
        display: none;
    }

    .navBar.responsive{
        position: relative;
    }
    .navBar.responsive .iconLi{
        position: absolute;
        top: 0;
        right: 0;
    }
    .navBar.responsive li{
        display: block;
        float: none;
        text-align: left;
    }
}


.body{
    width: 100%;
}

.banner{
    width: 90%;
    margin: auto;
    height: 400px;
    margin: 40px auto;
    position: relative;
}
.banner h1{
    position: absolute;
    top: 35%;
    right: 10%;
    color: white;
    
}
.banner a{
    position: absolute;
    top: 50%;
    right: 10%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.658);
    padding: 15px 25px;
}
.bannerSlides{
    width: 100%;
    height: 400px;
    display: none;
}




.category-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin: auto;
}
.category-container a{
    text-decoration: none;
    color: black;
}
.category-container a:hover{
    color: rgb(0, 0, 0, 0.5);
}

.category-item{
    width: 210px;
    margin: auto;
    transition: .2s;
}
.category-item:hover{
    opacity: 0.5;
}
.category-item h4{
    text-align: center;
}
.category-item .square{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
}
#bmw-logo{
    background-image: url("../images/bmw-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#maserati-logo{
    background-image: url("../images/maserati-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    border: .5px solid black;
}
#audi-logo{
    background-image: url("../images/audi-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    border: .5px solid black;
}
#benz-logo{
    background-image: url("../images/benz-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
}
#ferrari-logo{
    background-image: url("../images/ferrari-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    border-radius: 20%;
}


.grid-container{
    display: grid;
    grid-template-columns: auto;
    margin: 100px auto;
    width: 800px;
}

.grid-item{
    width: 700px;
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin: 5px;
}
.grid-image{
    width: 250px;
}
.grid-image img{
    width: 100%;
}
.grid-detail{
    padding: 10px;
}
.grid-detail h4{
    margin: 12px 0;

}

.pagination{
    display: flex;
    justify-content: center;
}
.pagination a{
    float: left;
    padding: 5px 10px;
    margin: 4px;
    text-decoration: none;
    color: rgb(117, 117, 117);
}
.pagination span{
    padding: 5px 10px;
    margin: 4px;
    color: rgb(117, 117, 117);
}
.pagination a.active{
    font-weight: bolder;
    color: black;
}
