*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.navBar ul{
    overflow: hidden;
    background-color: white;
    list-style: none;
    padding: 0 100px;
}
.navBar li{
    float: right;
    padding: 10px 15px;
}
.navBar a{
    color: black;
    text-decoration: none;
}
.navBar .logo{
    float: left;
    padding: 0;
}
.navBar .logo img{
    height: 50px;
}

@media screen and (max-width: 600px){
    .navBar li:not(:last-child){display: none;}
    .navBar li:last-child{
        float: left;
    }
    .navBar li.iconLi{
        display: block;
        float: right;
    }

    .navBar.responsive{
        position: relative;
    }
    .navBar.responsive .iconLi{
        position: absolute;
        top: 0;
        right: 0;
    }
    .navBar.responsive li{
        display: block;
        float: none;
        text-align: left;
    }
}


.body{
    width: 100%;
}

.banner{
    width: 90%;
    margin: auto;
    height: 400px;
    margin: 40px auto;
    position: relative;
}
.banner h1{
    position: absolute;
    top: 35%;
    right: 10%;
    color: white;
    
}
.banner a{
    position: absolute;
    top: 50%;
    right: 10%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.658);
    padding: 15px 25px;
}
.bannerSlides{
    width: 100%;
    height: 400px;
    display: none;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


.category-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin: auto;
}
.category-item{
    width: 210px;
    margin: auto;
}
.category-item h4{
    text-align: center;
}
.category-item .square{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
}
#bmw-logo{
    background-image: url("../images/bmw-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#maserati-logo{
    background-image: url("../images/maserati-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    border: .5px solid black;
}
#audi-logo{
    background-image: url("../images/audi-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    border: .5px solid black;
}
#benz-logo{
    background-image: url("../images/benz-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
}
#ferrari-logo{
    background-image: url("../images/ferrari-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    border-radius: 20%;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 800px;
}

.grid-item{
    width: 250px;
    padding: 12px;
    
    margin: 5px;
}
.grid-item h4{
    background-color: #f1c40f;
    color: black;
    text-align: center;
    padding: 6px 4px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}
.grid-item .main_image{
    width: 200px;
    height: 200px;
    margin: 13px;
}
.grid-item .second_images{
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid-item .second_images img{
    width: 100px;
    margin: auto;
    border: 1px solid black;
    border-radius: 3px;
}

.categories{
    position: fixed;
    top: 100px;
    left: 20px;
}
.categories ul.categories_main{
    list-style-type: square;
}
.categories ul.categories_second{
    margin-left: 15px;
}

