*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #dfe6e9;
}
.navBar ul{
    overflow: hidden;
    background-color: white;
    padding: 0 150px;
    list-style: none;
}
.navBar li{
    float: right;
    color: black;
    text-decoration: none;
    padding: 20px;
}
.navBar a{
    text-decoration: none;
    color: black;
    
}
.navBar .iconLi{
    display: none;
}
.navBar .modifylkicon{
    float: left;
    padding: 0;
    margin: 0;
}
.navBar .modifylkicon img{
    width: 200px;
}

@media screen and (max-width: 600px){
    .navBar li:not(:last-child){display: none;}
    .navBar ul{
        padding: 0;
    }
    .navBar li:last-child{
        float: left;
    }
    .navBar li.iconLi{
        display: block;
        float: right;
    }


    .navBar.responsive{
        position: relative;
    }
    .navBar.responsive li.iconLi{
        position: absolute;
        top: 0;
        right: 0;
    }
    .navBar.responsive li{
        display: block;
        float: none;
        text-align: left;
    }
    .navBar.responsive li.modifylkicon{
        display: none;
    }
}



table{
    width: 50%;
    margin: 40px auto;
    background-color: white;
    border-radius: 4px;
    padding: 20px 50px;
}
table h4{
    text-align: right;
}
table input[type = "text"]{
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px;
}
table td{
    padding: 10px;
}
input[type = "submit"]{
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    width: 200px;
    background-color: #636e72;
    color: white;
}
table .tags{
    width: 150px;
}