*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.075);
    position: relative;
}

.navBar{
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    padding: 0 100px;
}
.navBar a{
    float: right;
    padding: 21px 20px;
    color: rgb(73, 73, 73);
    text-decoration: none;
    transition: 0.2s;
}
.navBar a:hover{
    background-color: rgb(73,73,73);
    color: white;
}
.body{
    display: flex;
    justify-content: center;
    position: relative;
}
.leftBody{
    width: 20%;
    min-height: 500px;
    background-color: white;
    border: none;
    border-radius: 4px;
    margin: 10px 5px;
}
.rightBody{
    width: 60%;
    background-color: white;
    border: none;
    border-radius: 4px;
    min-height: 500px;
    margin: 10px 5px;
}
.profilePicture{
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.103);
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    margin: 20px auto;
    
}
.profilePicture img{
    width: 100%;
}
.leftBody h1,.leftBody h2{
    text-align: center;
}
.leftBody button{
    display: block;
    margin: auto;
}

.update_profile_picture{
    padding: 20px;
    position: absolute;
    top: 0;
    background-color:rgba(255, 255, 255, 0.836);
    width: 100%;
    height: 100%;
    align-items: center;
    display: none;
}
.update_profile_picture table{
    margin: auto;
}
.update_profile_picture h1{
    text-align: center;
    padding: 50px;
}
.update_profile_picture_body{
    position: relative;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
}
.closeBtn{
    padding: 10px 20px;
    margin: 3px;
    border: none;
    border-radius: 4px;
    font-size: 150%;
    color: white;
    background-color: red;
}


.add-product, .add-seller{
    width: 60%;
    margin: 10px auto;
    border: none;
    padding: 10px;
    
}
.add-product h1, .add-seller h1{
    
    text-align: center;
    padding: 15px 0;
}

.add-product input[type="text"], .add-seller input[type="text"], .add-seller input[type="password"]{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
.add-product label{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}
.add-product input[type="submit"], .add-seller input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(68, 214, 112);
    border: none;
    color: white;
}
.add-product input[type="submit"]:hover, .add-seller input[type="submit"]:hover{
    background-color:  rgb(42, 131, 69);
    cursor: pointer;
}
.add-product input[type="file"]{
    display: none;
}


.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
}
.product-item{
    display: flex;
    padding: 5px;
    position: relative;
}
.product-item a{
    position: absolute;
    bottom: 5px;
    right: 20px;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(70, 70, 70);
}
.details{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
.details h4{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.pagination a,.pagination span{
    float: left;
    text-decoration: none;
    color: rgb(122, 122, 122);
    margin: 5px;
}
.pagination a.active{
    color: black;
    font-weight: bolder;
}

