*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navBar ul{
    overflow: hidden;
    background-color: white;
    padding: 0 150px;
    list-style: none;
}
.navBar li{
    float: right;
    color: black;
    text-decoration: none;
    padding: 20px;
}
.navBar a{
    text-decoration: none;
    color: black;
    
}
.navBar .iconLi{
    display: none;
}
.navBar .modifylkicon{
    float: left;
    padding: 0;
    margin: 0;
}
.navBar .modifylkicon img{
    width: 200px;
}

@media screen and (max-width: 600px){
    .navBar li:not(:last-child){display: none;}
    .navBar ul{
        padding: 0;
    }
    .navBar li:last-child{
        float: left;
    }
    .navBar li.iconLi{
        display: block;
        float: right;
    }


    .navBar.responsive{
        position: relative;
    }
    .navBar.responsive li.iconLi{
        position: absolute;
        top: 0;
        right: 0;
    }
    .navBar.responsive li{
        display: block;
        float: none;
        text-align: left;
    }
    .navBar.responsive li.modifylkicon{
        display: none;
    }
}


form{
    width: 500px;
    margin: auto;
}

label{
    width: 200px;
}

form input[type="text"]{
    width: 100%;
    border: 1px solid transparent;
    border-bottom-color: black;
    margin: 10px 0;
    padding: 10px 5px;
}

form input[type = "submit"]{
    width: 100%;
    padding: 10px ;
    margin: 10px 0;
    background-color:  #0097e6;
    border: none;
    color: white;
}